
#isso-thread > h4,
#isso-thread label {
	color: var(--primary)!important;
}

#isso-thread .isso-textarea-wrapper {
	margin-top: 10px;
}

#isso-thread input,
#isso-thread textarea {
	background: var(--code-bg);
	color: var(--secondary);
}

#isso-thread .isso-post-action input:hover {
	background: var(--border);
}

.warning-comment {
	font-size: 12px;
}
